<div class="col-md-12">
  <div class="panel panel-primary">
  	<div class="panel-heading">
      <h3 class="panel-title">Onboard Employees</h3>
  	</div>
  	<div class="panel-body" style="border:1px solid #536889;">

  	  <%= form_tag onboard_company_employees_companies_path, :class=>"form-inline" ,:role=>"form", method: 'POST', :id=>"onboard_form", :multipart => true, :remote => true do %>
  	
	  	<div class="col-sm-12" style="margin-top: 20px;"> 
		  <div class="form-group">
	      	<label for="role" class="col-sm-6 control-label">Select a Company <span style="color:red;"> *</span></label> 
	      	<div class="col-sm-6">   
	          <%= select_tag "company_id", options_from_collection_for_select(@companies, :id, :name),  {:class=>"form-control",  :required => true , :style => "width:100%;", :id => "company_id", :prompt => "Please Select Company"}  %>
	      	</div>
		  </div>  
	    </div>

	    <div class="col-sm-12" style="margin-top: 20px;"> 
		  <div class="form-group">
		    <label for="role" class="col-sm-6 control-label">Upload Resume <span style="color:red;"> *</span></label>
		    <div class="col-sm-6">          
		      <%= file_field_tag "resume", :id=>"xls_upload" %>
		      <br/><br/>
		      <span class="help-block">
		        (Select only .csv file)
              </span>
		    </div>       
		  </div>
	    </div>

	    <div class="col-sm-12" style="text-align: center;margin-top: 20px;">
	        <!-- <button type="submit" class="btn btn-info btn-trans btn-sm" id = "validate_fields" ><i class='fa fa-filter'></i>Upload Employees</button> -->
	   
	         <%= button_tag "Upload Employees", :class=>"btn btn-info btn-trans btn-sm", :data => {:disable_with => "<i class='fa fa-spinner fa-spin'></i> Processing".html_safe} do %>
              <i class='fa fa-laptop' style="float: right;margin-left: -20px;color: white;font-weight: 600;"></i> <span style="    margin-left: 20px;color: white;font-weight: 600;">Upload Employees</span>
            <% end %>     

	    </div>

      <% end %>
    </div>
  </div>
</div>